<%- include('./partials/head') %>

<article>
  <blockquote><%- quote.text %>
    <cite><%- quote.name %></cite>
    <a href="/quotes">See all quotes</a>
  </blockquote>
</article>

<%- include('./partials/foot') %>
